@font-face {
  font-family: 'theme-icons';
  src:  url('fonts/theme-icons.eot?9o33su');
  src:  url('fonts/theme-icons.eot?9o33su#iefix') format('embedded-opentype'),
    url('fonts/theme-icons.ttf?9o33su') format('truetype'),
    url('fonts/theme-icons.woff?9o33su') format('woff'),
    url('fonts/theme-icons.svg?9o33su#theme-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="vamtam-theme-"], [class*=" vamtam-theme-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'theme-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vamtam-theme-check:before {
  content: "\e918";
}
.vamtam-theme-quote-start:before {
  content: "\e916";
}
.vamtam-theme-menu:before {
  content: "\e915";
}
.vamtam-theme-icon-arrow-bottom:before {
  content: "\e900";
}
.vamtam-theme-icon-arrow-top:before {
  content: "\e901";
}
.vamtam-theme-icon-arrow-left:before {
  content: "\e902";
}
.vamtam-theme-icon-arrow-right:before {
  content: "\e903";
}
.vamtam-theme-icon-arrow-right-bottom:before {
  content: "\e904";
}
.vamtam-theme-icon-arrow-left-down:before {
  content: "\e905";
}
.vamtam-theme-icon-arrow-lef-top:before {
  content: "\e906";
}
.vamtam-theme-icon-arrow-right-top:before {
  content: "\e907";
}
.vamtam-theme-icon-chevron-down:before {
  content: "\e909";
}
.vamtam-theme-icon-chevron-down-solid:before {
  content: "\e908";
}
.vamtam-theme-icon-minus:before {
  content: "\e90a";
}
.vamtam-theme-close:before {
  content: "\e917";
}
.vamtam-theme-icon-plus:before {
  content: "\e90b";
}
.vamtam-theme-icon-search:before {
  content: "\e90c";
}
.vamtam-theme-icon-phone:before {
  content: "\e90d";
}
.vamtam-theme-icon-top:before {
  content: "\e90e";
}
.vamtam-theme-injury-car:before {
  content: "\e90f";
}
.vamtam-theme-injury-personal:before {
  content: "\e910";
}
.vamtam-theme-njury-bike:before {
  content: "\e911";
}
.vamtam-theme-njury-medical:before {
  content: "\e912";
}
.vamtam-theme-njury-slip:before {
  content: "\e913";
}
.vamtam-theme-njury-worker:before {
  content: "\e914";
}
